#siteWrapper .quantity input[type=button],
#siteWrapper .switch input:checked + label,
#siteWrapper .cut-btn,
#siteWrapper .choose-btn,
#siteWrapper .btn-down-all {
  background: #F28C9C;
}
#siteWrapper .switch,
#siteWrapper .cut-btn,
#siteWrapper .choose-btn,
#siteWrapper .btn-down-all {
  border: 1px solid #F28C9C;
}
#siteWrapper .uploade {
  border: 1px dashed #F28C9C;
}
#siteWrapper .switch label:hover {
  background: rgba(255, 140, 156, 0.2);
  color: #000;
}
#siteWrapper .switch,
#siteWrapper .cut-btn,
#siteWrapper .choose-btn,
#siteWrapper .uploade,
#siteWrapper .btn-down-all {
  border-radius: 25px;
}
#siteWrapper .c_container {
  background: #FFEFF1;
}
@media screen and (max-width: 767px) {
  #siteWrapper .c_container {
    padding: 16px;
  }
  #siteWrapper .c_container .form-wrapper {
    max-width: 100%;
  }
}
#siteWrapper .uploade,
#siteWrapper .switch_label {
  background: #FEFDFB;
}
